# Target

The main goal of this notebook is exercise the most used datatypes in Python and explore limitations and ways of working

In [1]:
name = "gabriel" # String
type(name)

str

In [2]:
age =  24 # Int
type(age)

int

In [3]:
altura = 1.69 # Float (global)
type (altura)

float

In [18]:
altura_br = '1,69' # String
type(altura_br)

str

In [20]:
new_altura_br = float(altura_br.replace(',','.')) # Float
type(new_altura_br)

float

In [21]:
booleano = True
type(booleano)

bool

In [28]:
from datetime import datetime

date_ = '2024-04-23'

date_ = datetime.strptime(date_, '%Y-%m-%d').date() # Date/Datetime

type(date_)

datetime.date

In [32]:
list_ = ["gabriel", 24, 1.69, True] # List

print(list_[1],type(list_[1])) # Accessing value from list

print(type(list_))

24 <class 'int'>
<class 'list'>

In [34]:
dictonary  = dict(age=24, name="gabriel")
type(dictonary)

dict